*{
    margin: 0;
    box-sizing: border-box;
    --webkit-font-smoothing:antialiased;
}
body{
    background: #edf2f7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:  flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn_purple{
    background: purple;
    padding: 10px 40px;
    color: white;
    border-radius: 5%;
    font-size: 18px;
    cursor: pointer ;
}
.Warapper_Modal{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events:none ;
    transition: all 0.3s ease-in-out;

}
.container_Modal{
    background: white;
    width: 560px;
    max-width: 90%;
    padding: 20px;
    transform: translateY(-100%);
    transition: all .3s ease-in-out;
}
.active{
    opacity: 1;
    pointer-events: auto;
}
.Warapper_Modal.active .container_Modal{
    transform: translateY(0px); 
}